.search {
    &-form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.2rem;
    }
    &-result {
        margin-top: 0.5rem;
        &-item {
            &-title {
                margin-bottom: 0.2rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                color: map-get($theme-colors, primary)
            }
            &-url {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                display: block;
            }
        }
        .executed-query {
            p.alert {
                margin-bottom: 0.2rem;
            }
        }
    }
    div.ReactTags__suggestions {
        max-height: 80vh;
    }
}