.search {
    &-form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.2rem;
    }
    &-result {
        margin-top: 0.5rem;
        &-item {
            &-title {
                margin-bottom: 0.2rem;
            }
        }
        .executed-query {
            p.alert {
                margin-bottom: 0.2rem;
            }
        }
    }
}