html {
    height: 100%;
}

body {
    min-height: 100%;
}

.app-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    header {
        background-color: map-get($theme-colors, primary);
        flex: none;
    }
    footer {
        background-color: map-get($theme-colors, primary);
    }
    main {
        background-color: white;
        flex: 1;
        display: flex;
        .content {
            flex: 1;
            min-height: 100%;
        }
    }
}